[Unit]
Description=GooberEats backend service
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=BOING/run.sh
WorkingDirectory=BOING

[Install]
WantedBy=multi-user.target 