name: Android Test Build (CI)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./GooberEats
    steps:
    - uses: actions/checkout@v6
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Build Debug APK
      run: ./gradlew assembleDebug
    - name: Upload Debug APK as artifact
      uses: actions/upload-artifact@v5
      with:
        name: app-debug.apk
        if-no-files-found: error
        overwrite: true
        path: ./GooberEats/app/build/outputs/apk/debug/app-debug.apk
